<h1>Create Profile</h1>
<hr>
<form [formGroup]="form" (submit)="onSubmit(form.value)">
    <div>
        <input type="text" placeholder="enter name..." formControlName="name">
    </div>
    <div>
        <input type="file" formControlName="image" (change)="onfileSelect($event)">
    </div>
    <div *ngIf="imgdata">
        <img [src]="imgdata" [alt]="form.value.name">
        <hr>
        <button (click)="clearpic()">clearPic</button>

    </div>
    <div>
        <button type="submit">Createprofile</button>
    </div>

</form>